body{
	font-family: Verdana, sans-serif;
	padding : 20px 50px;
}

nav {
	overflow: hidden;
	background-color: #333;
}
nav a{
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
nav a:hover {
	background-color:rgb(239,40,54);
}
nav a.active {
	background-color: #4CAF50;
	color: white;
}
main{
	float: right;
	width: 100%;
}

.main-header{
	font-size : 45 px;
	background-color:rgb(76,175,80,0.8);
	color : black;
}
.home{
	background-color: #4CAF50;
	font-size : 35 px;
	color : white;
	text-decoration : none;
	font-weight :bold;
  	padding: 5px 5px;
}
fieldset{
	background-color: rgb(195,195,195,0.3);
}
.create-item{
	color: black;
	font-family: Verdana, sans-serif;
	font-weight : bold;
	width : 120px;
	height : 30px;
	border-radius: 5px;
	border-color : #4CAF50;
	background-color: #4CAF50;
}

.create-item:active{
	background-color: rgb(239,40,54);
	color:black;
}


select{
   width: 230px;
   height : 30px;
}

#food-name{
   width: 200px;
}

#food-price{
   width: 210px;
}

a .home{
	background-color: #4CAF50;
	color: #f2f2f2;
	text-decoration: none;
	font-weight: bold;
}
.cart{
	float:right;
}