body{
	font-family: Verdana, sans-serif;
	padding : 20px 50px;
}

nav {
	overflow: hidden;
	background-color: #333;
}
nav a{
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
nav a:hover {
	background-color:rgb(239,40,54);
}
nav a.active {
	background-color: #4CAF50;
	color: white;
}
main{
	float: right;
	width: 100%;
}

.main-header{
	font-size : 45 px;
	background-color:rgb(76,175,80,0.8);
	color :black;
}
table{
	width:100%;
	table-layout: fixed;
}
th{
	border-bottom: rgb(0,171,16) solid 5px ;
	text-align: left;
	font-size: 25px;
}

td.data{
	background-color:rgb(195,195,195);
	color: black;
	padding-left: 10px;
}


