body{
	font-family: Verdana, sans-serif;
	padding : 20px 50px;
}

nav {
	overflow: hidden;
	background-color: #333;
}
nav a{
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
nav a:hover {
	background-color:rgb(239,40,54);
}
nav a.active {
	background-color: #4CAF50;
	color: white;
}
main{
	float: right;
	width: 66%;
}
aside{
	float : left;
	width : 30%;
}
footer{
	clear: both;
}

#aside-title{
	text-align : left;
}
aside#nasi-goreng{
	padding: 30px 100px;
	display: block;
}

.main-header{
	font-size : 45 px;
	background-color:rgb(76,175,80,0.8);
	color :black;
}
.details{
	background-color: rgb(195,195,195,0.3);
}
.edit{
	background-color: #4CAF50;
	font-size : 35 px;
	color : white;
	text-decoration : none;
	font-weight :bold;
  padding: 5px 5px;
}
.cart{
	float:right;
}