body{
	font-family: Verdana, sans-serif;
	padding : 20px 50px;
}

nav {
	overflow: hidden;
	background-color: #333;
}
nav a{
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
nav a:hover {
	background-color:rgb(239,40,54);
}
nav a.active {
	background-color: #4CAF50;
	color: white;
}
main{
	float: right;
	width: 66%;
}
aside{
	float : left;
	width : 30%;
}

#aside-title{
	text-align : left;
}
aside#indo-food-collage{
	display: block;
}

.main-header{
	font-size: 30px;
	padding-top: 20px;
}
  
table{
	width:100%;
	table-layout: fixed;
}
th{
	border-bottom: rgb(0,171,16) solid 5px ;
	text-align: left;
	font-size: 25px;
}

td.data{
	background-color:rgb(195,195,195);
	color: black;
	padding-left: 10px;
}

td#name{
	text-align: left;
}

td#price{
	text-align: left;
}

td.option a, .new-feature{
	text-decoration: none;
	color: white;	
	padding: 5px 5px;
	text-align: center;
	display: inline-block;
	background-color:#4CAF50;
}
td.option, th.option{
	width: 105px;
}
.cart{
	float:right;
}

div.action{
	float: right;
}

input[type=submit]{
	border: none;
	color: white;	
	padding: 5px 5px;
	text-align: center;
	background-color:rgb(239,40,54);
	font-family: Verdana, sans-serif;
	display: inline-block;
}

td a:hover{
	background-color:rgb(239,40,54);
}
