<html>
    <head>
    </head>
    <body>
        <form action="/items/create" method="POST">
            <fieldset>
            <legend>Input</legend>
                <label for="Name">Name &nbsp;&nbsp;&nbsp;</label>
                <input type="text" placeholder="e.g : Nasi Goreng" id="food-name" name="food_name">
        <br><br><br>
                <label for="Price">Price &nbsp;&nbsp;&nbsp;</label>
                <input type="text" placeholder="e.g : 10000.0" id="food-price" name="food_price">
        <br><br><br>
                <input type="Submit" value="Create-Food" style="background-color: #4CAF50" id="create-food">
            </fieldset>
        </form>
    </body>
</html>